*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.container{
    width: 100px;
    height: auto;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    padding: 5px;
}
.book{
    width: 200px;
    height: 300px;
    background-color:rgb(236,233,232) ;
    border-radius: 20px;
    margin: 30px;
}

.img{
    width: 200px;
    height: 200px;
    border-radius: 10px;
    text-align: center;
}

.content{
    text-align: center;
}
.content h2{
    color: tomato;
    font-size: 17px;
    padding: 9px;
}

.content p{
    color:tomato;
    font-size: 14px;
    padding: 9px;

}

.highlight{
    display: flex;
    flex-direction: row-reverse ;
    justify-content: center;
}

.box{
    display: flex;
    flex-direction: column;
    justify-content: start;
    align-items: end;
    position: absolute;
    top: 3px;
}

.view{
    position: absolute;
    right: 3px;
    top: 20px;
    flex-direction: column-reverse;
    justify-content: end;
    align-items: end;
}